
* {
    box-sizing: border-box;
    text-align: center;

}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
}
.box {
    background: #ebebeb;
    text-align: center;
    padding: 15px;
    height: 70px;
    margin: 15px;

}

article {
    color: #ebebeb;
    background: #777;
    height: 200px;
    margin-bottom: 5px;
    padding: 10px;
}

h1, p {
    color: #777;
    background: #ebebeb;
    height: 60px;
    width: 400px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 5px;
    padding: 14px;
}
/* section, article*/
.container {
    width: 495px;
    background: #ebebeb;
    padding: 20px;
    margin: 5px;
    margin-left: 14px;
}

aside {
    float: right;
    width: 425px;
    height: 314px;
    background: #ebebeb;
    text-align: center;
    margin-right: 14px;
    padding: 50px;
}

section {
    height: 55px;
    margin-left: 30px;
    margin-top: 15px;
    
}

